.clearfix{
	clear:both;
}

body {
background-color:#ffffff;
background-repeat:no-repeat;
color:#777777;
font-family:"Trebuchet MS","Lucida Grande CE",Arial;
font-size:13px;
font-weight:100;
line-height:19px;
margin:0;
padding:0;
}
p {
margin:0 0 8px;
padding:0;
}
h1 {
font-size:16px;
font-weight:normal;
line-height:18px;
color:#999999;
margin:2px 0;
padding:0;
}
h2, h3 {
color:#b7e1e5;
font-size:18px;
font-weight:normal;
line-height:24px;
margin:0 0 4px;
padding:0;
}
h3 {
color:#999999;
font-size:14px;
font-weight:normal;
line-height:20px;
}
h4 {
color:#999999;
font-size:12px;
font-weight:normal;
line-height:18px;
margin:0;
padding:0 0 4px;
}
h5 {
color:#444444;
font-size:15px;
font-weight:normal;
line-height:22px;
margin:0 0 4px;
padding:4px 0;
}

i {
    margin-right: 1em;
}

.anmerkung p {
color:#999999;
font-size:10px;
font-weight:normal;
margin:0 0 12px 16px;
padding:0;
}
br {
line-height:10px;
margin:0;
padding:0;
}
a {
color:#444444;
text-decoration:none;
}
a:link {
color:#444444;
}
a:hover {
color:#B7E1E5;
}

li.active a{
color:#FAB536;
}
.title {
float:left;
height:130px;
margin-left:24px;
margin-right:0;
margin-top:24px;
width:160px;
}
.text {
float:left;
height:620px;
margin-left:0;
overflow:hidden;
padding-top:6px;
text-align:left;
width:450px;
}
.text, .wrapper{
margin-top:20px;
}
.textindex {
float:left;
height:155px;
margin-left:0;
margin-top:104px;
overflow:hidden;
padding-top:6px;
text-align:left;
width:450px;
}
span.italic {
	font-style:italic;
}
.aufgabe {
color:#666666;
}
ul.bulletsfett {
color:#777777;
line-height:18px;
list-style-type:none;
margin-left:18px;
margin-right:30px;
margin-top:0;
padding:0;
}
.frame {
height:800px;
margin:62px auto 0;
padding:0;
width:860px;
}
.magi {
float:left;
height:576px;
margin-left:24px;
margin-right:24px;
padding-top:0px;
width:160px;
}
.magi h1{
color: #fab536;
font-size:36px;
}
.logo {
background-color:white;
margin-bottom:8px;
padding-top:0px;

}
.overhead{
  font-size:16px!important;

}
.navi {
height:450px;
margin-bottom:8px;
position:relative;
}
.navi ul {
line-height:50px;
list-style-type:none;
margin:0;
padding:0px 0 0;
}
.navi li {
line-height:40px;
list-style-type:none;
margin:0;
padding:8px 0 0;
}
.navi a {
    display:block;
    font-size:20px;
    line-height:24px;
    padding-right:8px;
    text-decoration:none;
    text-transform:uppercase;
    color:#999999;
    font-weight: normal;
}


.navi img{
vertical-align:baseline;
position:absolute;
bottom:0;
}
.navi .navi02 a {
font-size:13px;
line-height:18px;
padding-left:2px;
}
.sub {
margin:0 0 4px;
padding:0;
}
.navi .sub ul {
margin:0;
padding:0;
}
.navi .sub a {
display:block;
font-size:12px;
line-height:10px;
padding-left:12px;
text-decoration:none;
}
.subaktiv {
color:#F45CA5;
display:block;
font-size:12px;
line-height:10px;
margin:0;
padding:0 0 0 12px;
}
.content {
border:1px solid #CCCCCC;
float:left;
height:650px;
margin-top:24px;
width:650px;
}
.contentteaser {
border:1px solid #FFFFFF;
float:left;
height:650px;
margin-top:24px;
width:650px;
}
.contentteaser p{
	color:#666666;
}
.contentteaserbilder {
border:1px solid #FFFFFF;
float:left;
height:2px;
margin-top:0;
width:650px;
}
.infomini {
background-image:url(../img/infomini.png);
font-weight:lighter;
height:43px;
letter-spacing:0.2px;
margin-top:160px;
padding-left:8px;
padding-top:6px;
width:201px;
}
.info {
background-image:url(../img/infohell.png);
height:88px;
margin-top:0;
padding-left:16px;
padding-top:16px;
width:634px;
}
#infolinks {
float:left;
font-weight:normal;
height:80px;
line-height:18px;
width:600px;
}
#infotitle {
font-size:16px;
height:20px;
letter-spacing:0.6px;
margin:2px 0 0;
padding:0;
width:600px;
}
#subtitle {
font-size:13px;
height:20px;
letter-spacing:0.4px;
margin:2px 0 0 0;
padding:0;
width:600px;
}
#infotext {
font-style:italic;
height:30px;
letter-spacing:0.4px;
margin-left:0;
overflow:hidden;
padding-top:10px;
width:620px;
}
.steuerung {
height:547px;
margin-bottom:0;
margin-top:0;
}
.btnback {
margin-left:4px;
}
.btnvor {
margin-left:518px;
}
#aktuell {
background-repeat:no-repeat;
}
#akt_rmn {
height:132px;
margin-top:510px;
padding-left:24px;
padding-top:8px;
width:626px;
}
#akt_hl {
color:#666666;
font-size:16px;
}
#akt_txt {
color:#666666;
float:left;
height:108px;
margin-left:16px;
overflow:hidden;
width:368px;
}
#teaser01 {
background-image:url(../img/teaser_igw.jpg);
background-repeat:no-repeat;
border:1px solid #CCCCCC;
float:left;
height:209px;
width:209px;
}
#teaser02 {
background-image:url(../img/teaser_cornelsen.jpg);
border:1px solid #CCCCCC;
float:left;
height:209px;
margin-left:8px;
width:209px;
}
#teaser03 {
background-image:url(../img/teaser_mento.jpg);
border:1px solid #CCCCCC;
float:left;
height:209px;
margin-left:8px;
width:209px;
}
#teaser04 {
border:1px solid #CCCCCC;
float:left;
height:209px;
margin-left:8px;
margin-top:8px;
width:209px;
}
.bezeichnung {
border:medium none;
float:left;
height:400px;
line-height:18px;
padding-left:20px;
padding-top:110px;
width:180px;
}
.bez {
color:#666666;
font-weight:normal;
line-height:17px;
padding-bottom:12px;
text-align:right;
}
.formular {
border:medium none;
float:left;
padding-top:106px;
width:450px;
}
.einezeile {
padding-bottom:12px;
padding-left:16px;
}
.form {
background-color:#FFFFFF;
border-color:#999999 #CCCCCC #CCCCCC #999999;
border-style:solid;
border-width:1px;
color:#666666;
font-family:Georgia,serif;
font-size:11px;
font-weight:normal;
line-height:18px;
margin-top:0;
padding:4px;
width:400px;
}
.textfeld {
padding-bottom:8px;
padding-left:16px;
padding-top:0;
}
.buttonsrechts {
margin-left:8px;
width:280px;
}
.btn {
background-color:#999999;
border:medium none;
color:white;
font-size:10px;
font-weight:normal;
height:24px;
margin-left:8px;
padding-bottom:3px;
padding-top:2px;
width:90px;
}

#projects_wrapper{
	padding:			0px !important;
	height:				310px;
	overflow-x:			hidden;
    position:			relative;
}
#projects{
	position:			absolute;
	overflow:			hidden;
}

#projects_wrapper .mask {
    top: 1em !important;
    left: 0 !important;
    background: none !important;
}

.container a, a:visited{
	
}

.container table{
	width:				650px;
	height:				300px;
}

.container td, .container td *{
	vertical-align:		top;
	text-align:			left;
}
.container td p{
	margin-top:			24px;
}
.container td.top *{
	padding-left:		16px;
}


.contentteaser .wrapper a, .contentteaser .text a{
	text-decoration:	underline;
	font-size:			12px;
}

.container img{
	border:				0 none white;
}

.slider{
	clear:				left;
	font-size:			28px;
}
#left{
	float:				left;
}
#right{
	float:				right;
}
#project_headline{
	text-transform:		uppercase;
}

.container a > div {
    width: 300px;
}

img.reflect, img.reflected {
    width: 300px;
}

#contact{
	border:				1px solid #CCCCCC;
	padding:			16px;
	position:			relative;
}
#contact td.left{
	width: 				143px;
	text-align:			right;
	padding-right:		8px;
	padding-top:		0px;
}
#contact td input, #contact td textarea{
	margin-bottom: 		6px;
	width:				287px;
	border:				1px solid #B7E1E5;
}
#contact td textarea{
	height:				90px;				
}
.error{
	padding-left:		64px;
	background:			transparent url(../img/achtung.png) no-repeat scroll 0 0;
	margin-bottom:		16px;
	min-height:41px;
}
.error p{
	margin:				0px;
	font-size:			12px;
	line-height:		14px;
}
#contact .errorfield{
	background-color:#B7E1E5;
	border-color:#FAB536;
}
#contact .submit{
	vertical-align:		baseline;
	position:			absolute;
	bottom:				0;
	right:				0;
}



/****************************************************/
/* Smartphones (portrait and landscape) ----------- */
/****************************************************/

@media only screen
and (min-width : 320px)
and (max-width : 480px) {


    body, .frame {
        width: 100%;
        height: inherit;
        margin: 0;
    }


    h1,h2, h3 {
        line-height: 1.5em;
        font-size: 1.5em;
        color: #999;
    }

    h1 {
        border-top: 1px solid #999999;
    }

    h2 {
        font-size: 1em;
        line-height: 1em;
    }

    h3 {
        font-size: 0.5em;
        line-height: 0.5em;
    }

    h1:first-child {
        border: none;
    }

    img {
        max-width: 100%;
    }

    table, tr, td {
        font-size: 1.25em;
    }

    .logo h1{
        font-size: 1em !important;
    }

    .magi {
        width: inherit;
        float: none;
        position: fixed;
        margin-bottom: 3em;
        margin-left: 0;
        height: auto;
        background-color: white;
        top: 0;
        border-bottom: 1px solid #999999;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
        opacity: 0.9;
        z-index: 10;
    }

    .magi .logo {
        margin: 0;
    }

    .magi .navi {
        height: inherit;
    }

    .navi a {
        font-size: 1.5em;
        padding-bottom: 0.625em;
    }

    .magi .navi ul {
        width: inherit;
    }

    .magi .navi > ul > li {
        float: left;
        width: 33.333333%;
        text-align: center;

    }

    .contentteaser {
        top: 3em;
        position: relative;
        border: 0;
    }

    .contentteaser, .contentteaser .text{
        width: inherit;
        float: none;
        height: inherit;
    }

    .contentteaser .text {
        width: 96%;
        padding: 0 2%;
    }

    .contentteaser .title {
        display: none;
    }

    .contentteaser .text a {
        font-size: 1em;
        line-height: 0.75em;
    }

/*    .projects table img {
        max-width: 100%;
    }

    .projects table {
        width: 100%;
    }

    .projects #projects_wrapper {
        width: inherit;
    }


    .projects #projects_wrapper .mask {
        height: inherit;
    }

    */

    .projects .mask {
        /*width: 100%;*/
    }


    .projects .container p{
        display: none;
    }

    .projects .container td {
        display: block;
    }

    .projects .sub {
        display: none;
    }
    .slider {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 110;
        background-color: white;
        opacity: 0.9;
    }

    .slider #right i {
        margin-right: 0;
    }


    .contact #contact {
        border: none;
        width: inherit;
    }

    .contact #contact td {
        display: block;
    }

    .contact #contact td.left {
        text-align: left !important;
        font-size: 0.75em;
        width:  100% !important;
    }

    .contact #contact table, .contact #contact td input, .contact #contact td textarea {
        width: 100%;
    }

    .contact .title {
        display: block;
    }

}